.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 20px;
}
h2 {
  margin: 0;
}
p {
  margin: 0;
}
.banner {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-antiquewhite);
}
.banner .container {
  width: 50%;
  align-items: center;
  display: flex;
  background-color: var(--color-antiquewhite);
  justify-content: flex-end;
}
.banner img {
  width: 50%;
  object-fit: cover;
  min-height: 100%;
}

.banner .content {
  max-width: 585px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 10px 0;
}
.banner h1 {
  font-size: 72px;
  margin: 0;
  color: var(--title);
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  margin-bottom: 25px;
}
.banner p {
  margin: 0;
}
.banner .discription {
  font-size: 24px;
  color: var(--text);
  margin-bottom: 37px;
  width: 90%;
  font-weight: 400;
  
}
a {
  font-size: 36px;
  padding: 10px 60px;
  text-decoration: none;
  background-color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
  color: var(--title);
  font-weight: 500;
  border: 1px solid var(--title);
  display: inline-block;
}
a:hover {
  background-color: var(--text);
  color: var(--color-white);
}

.benefits {
  margin: 91px auto;
  width: 100%;
}

.benefits h2 {
  font-size: 55px;
  width: 65%;
  margin: 0 auto 49px;
  color: var(--title);
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
}
.benefits .benefit-list {
  display: flex;
  justify-content: space-between;
}

.benefits .benefits1 {
  display: flex;
  width: 28%;
}
.benefits .benefits1 img {
  width: 70px;
  height: 70px;
}
.benefits .content {
  margin-left: 30px;

}
.benefits .benefits1 .title {
  font-weight: 700;
  color: var(--title);
  margin: 0 auto 10px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
}

.benefits .benefits1 p {
  font-size: 18px;
  color: var(--text);
}

.benefits .discription {
    font-weight: 400;
}
.time {
  display: flex;
  text-align: center;
  background-color: var(--color-tan);
}
/* .time .container {
  
} */
.time .content {
  display: flex;
  flex-direction: column;
  background-color: var(--color-tan);
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
}
.time img {
  width: 50%;
  object-fit: cover;
}

.time h2 {
  font-size: 55px;
  color: var(--color-white);
  font-family: "Playfair Display", serif;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

.time .count-down {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.time .box {
  color: var(--color-white);
  font-weight: 700;
  text-align: center;
}
.time .number {
  font-size: 42px;
  margin: 10px 0;
}
.time .text {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 10px 0;
}
.time .shop-now {
  font-size: 24px;

  margin: 30px auto 0;
}
.time a {
  display: inline-block;
  margin: 0 auto;
}
.products {
  margin: 100px auto;
}
.products .title {
  font-size: 55px;
  margin-bottom: 50px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: var(--title);
  text-align: center;
}
.products .product-list {
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-bottom: 68px;
  display: grid;
  column-gap: 30px;
  max-width: 100%;
}
.products .product {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.products .product img {
  width: 100%;
}
.products .product .name {
  font-size: 20px;
  margin: 17px 0 0;
  font-weight: 700;
  color: var(--title);
  font-family: "Playfair Display", serif;
  line-height: normal;
  text-transform: capitalize;
}
.products .product p {
  margin: 10px 0 17px;
}
.products .product .price {
  font-size: 20px;
  display: flex;
  color: var(--text);
  justify-content: center;
  font-weight: 500;

}
.products .product .old-price {
  margin-right: 10px;
  text-decoration: line-through;
  font-weight: 400;

}
.products .product a {
  font-size: 14px;
  padding: 10px 30px;
  text-decoration: none;
  background-color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
  color: var(--text);
  font-weight: 400;
  border: 1px solid var(--text);
  display: inline-block;
}
.product a:hover {
  background-color: var(--text);
  color: var(--color-white);
}
.collection {
  display: flex;
  justify-content: space-between;
}
.bundle {
  background-image: url("./image/tessa-wilson-ECr_8nuXpBA-unsplash 1.png");
  background-color: var(--color-white);
}

.collection h3 {
  margin: 0;
}
.collection .content {
  width: 100%;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.collection .title-collection {
  font-size: 36px;
  width: 100%;
  font-weight: 700;
  color: var(--title);
  font-family: "Playfair Display", serif;
}
.collection .discription {
  font-size: 18px;
  margin: 10px 0 0;
  width: 100%;
  font-weight: 400;
}
.rings {
  background-image: url("./image/mel-BN0HcaBdPug-unsplash 1.png");
  background-color: var(--color-white);
  margin-left: 30px;
}

.bundle,
.rings {
  width: 50%;
  background-position: top;
  background-size: cover;
  min-height: 450px;
  padding-bottom: 20px;
  display: flex;
    align-items: flex-end;
}
.testimonials {
  padding: 87px 0 92px;
  background-color: var(--color-antiquewhite);
  margin: 50px 0 78px;
  text-align: center;
}
.testimonials .image-author-review {
  display: none;
}

.testimonials .title {
  padding: 0;
  font-size: 55px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: var(--title);
}
.testimonials .content {
  font-size: 18px;
  width: 60%;
  margin: 50px auto 20px;
  color: var(--text);
  transition: opacity 1s ease-in-out;
  font-weight: 400;
}
.testimonials .name {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--text);
  font-weight: 500;
}
.testimonials h6 {
  margin: 0 0 40px;
}
.testimonials .image-author {
  width: 100px;
  margin-left: 30px;
  transition: background-color 0.6s ease;
  cursor: pointer;
  padding-bottom: 30px;
}
.testimonials .review-mobile {
  display: none;
}
.testimonials .ava {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.testimonials .active {
  width: 130px;
}

.social {
  width: 100%;
  margin: 0;
}
.social .title {
  font-size: 55px;
  margin-bottom: 36px;
  font-weight: 700px;
  text-align: center;
  color: var(--title);
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
}
.social .image {
  max-width: 25%;
  width: 100%;
  margin-right: 30px;
}
.social .image:last-child {
  margin-right: 0;
}
.social .container {
  max-width: 100%;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.social .list-image {
  display: flex;
  justify-content: center;
}

.services {
  display: flex;
  margin-bottom: 27px;
}
.services .image {
  width: 50%;
  object-fit: cover;
}
.services .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding: 30px 0;
  background-color: var(--color-tan);
  color: var(--color-white);
}
.services h2,
.services h3 {
  margin: 0;
  text-align: center;
}
.services .title {
  font-size: 48px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.services .content .title:first-child {
  font-size: 85px;
  text-transform: uppercase;
}
.services .content .title:last-child {
  text-transform: capitalize;
}
.services .content .list {
  margin-left: 0;
  font-size: 24px;
  margin-top: 140px;
  
}
.services .content li {
  margin-bottom: 43px;
  padding-left: 40px;
  position: relative;
  font-weight: 500;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18.4px;
  height: 18.4px;
  background-color: #fff;
  border-radius: 50%;
}
.action .content {
  text-align: center;
  background-color: var(--color-antiquewhite);
  padding: 83px 0 95px;
}
.action .title {
  font-size: 55px;
  color: var(--title);
  font-family: "Playfair Display", serif;
  margin: 0;
  font-weight: 700;
}
.action .discription {
  margin: 60px auto 60px;
  font-size: 18px;
  width: 45%;
  color: var(--text);
  font-weight: 400;
}
.action a {
  font-size: 24px;
  padding: 10px 40px;
  text-decoration: none;
  background-color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
  color: var(--title);
  font-weight: 500;
  border: 1px solid var(--text);
  display: inline-block;
}
.action a:hover {
  background-color: var(--text);
  color: var(--color-white);
}
.action img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1024px) {
  .services .content .title:first-child {
    font-size: 65px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 344px;
    margin: 0 auto;
  }
  .banner {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }
  .banner img {
    width: 100%;
    object-fit: cover;
  }
  .banner .container {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-color: var(--color-antiquewhite);
    padding: 0;
  }
  .banner .content {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding: 38px 0 49px;
  }
  .banner h1 {
    color: var(--title);
    font-size: var(--font-size-17xl);
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    margin: 0 auto 25px;
  }
  .banner p {
    margin: 0;
  }
  .banner .discription {
    color: var(--text);
    font-size: var(--font-size-sm);
    margin: 0 auto 25px;
  }
  a {
    font-size: var(--font-size-5xl);
    padding: 10px 20px;
    margin: 0 auto;
  }
  .benefits {
    margin: 37px 0 38px;
    width: 100%;
  }
  .benefits h2 {
    font-size: 20px;
    color: var(--title);
    font-family: "Playfair Display", serif;
    font-weight: 700;
    text-align: center;
    width: 80%;
    margin: 0 auto 35px;
  }
  .benefits .benefits1 {
    display: flex;
    width: 100%;
    margin-bottom: 26px;
  }
  .benefits .benefit-list {
    flex-direction: column;
  }
  .benefits .benefits1 img {
    width: 70px;
    height: 60px;
  }
  .benefits .content {
    margin-left: 30px;
  }
  .benefits .benefits1 .title {
    font-size: 16px;
    font-weight: 700;
    color: var(--title);
    margin: 0;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
  }
  .benefits .benefits1 p {
    font-size: var(--font-size-sm);
    color: var(--text);
  }
  .time {
    flex-direction: column;
  }
  .time img {
    width: 100%;
    object-fit: cover;
  }
  /* .time .container {
    width: 100%;
    max-width: 100%;
    padding: 35px 0 37px;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .time .content {
    padding: 35px 0 37px;
    margin: 0 auto;
    width: 70%;
  }
  .time h2 {
    color: var(--color-white);
    font-family: "Playfair Display", serif;
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .time .number {
    font-size: var(--font-size-5xl);
    margin: 10px 0;
  }
  .time .text {
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
    margin: 10px 0;
  }
  .time .count-down {
    width: 100%;
  }
  .time .shop-now {
    font-size: 16px;
    display: inline-block;
    margin: 15px auto 0;
  }
  .products {
    margin: 50px auto 40px;
  }
  .products .title {
    font-size: 20px;
    font-weight: 700;
    color: var(--title);
    text-align: center;
    margin: 0 auto 20px;
  }
  .products .product-list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0;
    column-gap: 15px;
  }
  .products .product {
    max-width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
  .products .product img {
    width: 100%;
  }
  .products .product .name {
    margin: 10px 0 0;
    font-size: 14px;
    color: var(--title);
  }
  .products .product .price {
    font-size: 13px;
  }
  .products .product a {
    font-size: 10px;
    padding: 8px 15px;
  }
  .products .product p {
    margin: 10px 0 16px;
  }
  .collection {
    flex-direction: column;
  }
  .bundle {
    margin-bottom: 12px;
  }
  .bundle,
  .rings {
    width: 100%;
    min-height: 239px;
    margin-left: 0;
  }
  .collection .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
  }
  .collection .title-collection {
    font-size: 22px;
  }
  .collection .discription {
    margin: 10px 0 0;
  }
  .testimonials {
    margin: 0;
    padding: 29px 0 39px;
    overflow-x: hidden;
  }

  .testimonials .title {
    font-size: 20px;
    padding: 0;
  }
  .testimonials .review-destop {
    display: none;
  }

  .testimonials .review-mobile {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
  section {
    scroll-snap-align: start;
    position: relative;
    min-width: 100%;
  }

  .testimonials .content {
    font-size: 14px;
    width: 80%;
    margin: 30px auto 18px;
  }
  .testimonials .name {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .testimonials h6 {
    margin: 0 0 20px;
  }
  .testimonials .ava {
    display: none;
  }
  .testimonials .image-author-review {
    display: block;
    margin: 0 auto;
  }
  .destop {
    display: none;
  }
  .social {
    margin: 36px 0 28px;
  }
  .social .image {
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
  }
  .social .image:nth-child(1) {
    order: 3;
  }
  .social .image:nth-child(2) {
    order: 1;
  }
  .social .image:nth-child(3) {
    order: 2;
  }
  .social .title {
    font-size: 20px;
    margin-bottom: 26px;
  }
  .social .list-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 90%;
    margin: 0 auto;
  }

  .services {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-bottom: 6px;
  }
  .services .image {
    width: 100%;
  }
  .services img {
    height: 202px;
    object-fit: cover;
  }
  .services .content {
    width: 100%;
    padding: 30px 0;
    margin-top: 0;
  }
  .services .title {
    font-size: 20px;
  }
  .services .content .title:first-child {
    font-size: 36px;
  }
  .services .content .list {
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
  }
  .services .content li {
    margin-bottom: 20px;
    padding-left: 20px;
  }
  li::before {
    width: 10px;
    height: 10px;
  }
  .action .content {
    text-align: center;
    background-color: var(--color-antiquewhite);
    padding: 43px 0;
  }
  .action .title {
    font-size: 20px;
  }

  .action .discription {
    margin: 10px auto 30px;
    font-size: 14px;
    width: 80%;
  }
  .action a {
    font-size: 18px;
    padding: 10px 20px;
  }
}
